.about{
    width: 100vw;
    height: fit-content;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.mission, .why-me{
    text-align: left;
}

.about-header {
    margin: 0 0.83rem 1.5rem 0.83rem;
    font-size: 2.5rem;
    font-weight: 800;
}

.about-sub-heading {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
}

.statement {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.7rem;
    letter-spacing: 0.1rem;
}

.keyword {
    color: #f77510;
}