.co-logo {
  max-width: 200px;
  min-width: 100px;
  margin: 0;
}

.back {
  text-align: left;
}

.role {
  margin-top: 0;
  font-weight: 800;
}

.co-title {
  font-weight: 600;
}

.card-front.inactive {
    display: none;
}

.card-back.inactive {
    display: none;
}

.exp-bullets {
    margin: 0;
    padding: 0;
}

.exp-bullet {
  margin-bottom: 1rem;
}